@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --accent-color: #2196F3;
  --title-text-color: #212121;
  --background-color: #2F303A;
  --secondary-background-color: #F5F4FA;
  --hero-background-color: #C4C4C4;
  --leter-icon-color: #AFB1B8;
  --icon-footer-background-color: rgba(255, 255, 255, 0.1);
}

.list {
  list-style: none;
  padding-left: 0px;
  margin: 0px auto;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  /* body Текст размер */
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.714;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.button {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* button Текст размер */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  border-radius: 4px;
  padding: 10px 31px;
  cursor: pointer;
}

.button:hover, .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.primary {
  display: inline-block;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* button primary Текст размер */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  width: 200px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
}

.primary:hover,
.primary:focus {
  background-color: #188CE8;
}

.button-secondary {
  padding: 6px 22px;
  border-width: 0px;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary:hover, .button-secondary:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.icon-footer-button {
  position: absolute;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 13px;
  right: 28px;
}

.wrapper-button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.wrapper-button .button.primary {
  padding: 10px 62px 10px 29px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: auto;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  margin: auto;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

.modal {
  position: relative;
  margin: auto;
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  overflow: auto;
  padding: 40px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 448px;
}

.modal-form-title {
  width: 448px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.name-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  cursor: pointer;
  height: 40px;
  padding-left: 42px;
}

.form-input, .form-input-message {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-message {
  height: 138px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.form-privacy-policy {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 30px;
}

.modal-form .button.primary {
  margin-left: auto;
  margin-right: auto;
}

.icon-form-size {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  margin-left: 12px;
}

.form-item:hover .icon-form-size,
.form-item:focus-within .icon-form-size {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus,
.form-input-message:hover,
.form-input-message:focus {
  border-color: var(--accent-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.form-input-message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-input-message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-input-message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-input-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal-checkbox {
  /* appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .check-box {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    background-color: var(--primary-white-color);
    border-radius: 4px;
    margin-right: 7px;
  } */
/* .form-modal-checkbox:checked + .check-box {
    background-color: var(--accent-color);
    background-image: url(../images/icon-check22.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    bborder-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .check-box:hover,
  .check-box:focus {
  border-color: var(--accent-color);
  } */
.form-checkbox-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  background-color: var(--primary-white-color);
  border-radius: 4px;
  margin-right: 7px;
}

.form-modal-checkbox:checked + .form-checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check22.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-privacy-link {
  color: var(--accent-color);
  margin-left: 3px;
}

.form-checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.form-privacy-link::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 127px;
  color: var(--accent-color);
  height: 5px;
  border-bottom: 1px;
  border-bottom-style: solid;
  bottom: 5px;
}

.footer-form {
  display: block;
  margin-left: auto;
}

.email-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--background-color);
  margin: 0px 12px 0px 0px;
  padding: 15px 16px;
  color: var(--secondary-text-color);
}

.email-form-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.email-form-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.email-form-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.email-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* logo Текст размер */
.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  width: 145px;
  /* Блочная модель + flex */
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: var(--title-text-color);
  /* logo Цвет */
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--primary-white-color);
}

.webstudio-nav {
  width: 294px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.143;
  /* Бллочная модель + flex */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.webstudio-nav .item:not(:last-child) {
  margin-right: 50px;
}

.webstudio-nav .link {
  position: relative;
  padding: 32px 0px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--title-text-color);
}

.webstudio-nav .link :hover,
.webstudio-nav .link :focus {
  color: var(--accent-color);
}

.webstudio-nav .active {
  color: var(--accent-color);
}

.active::after {
  position: absolute;
  top: 100%;
  width: 100%;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4px;
  background: #2196F3;
  border: 1px solid #000000;
  border-radius: 2px;
}

.active:hover,
.active:focus {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.company-header {
  border-bottom: 1px solid #ECECEC;
}

/* Position-flex Блочная модель + flex */
.position-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}
/*# sourceMappingURL=main.css.map */