/* цвет основного текста #757575; */
/* вторичный цвет текста  rgba(255, 255, 255, 0.6); */
/* белый #FFFFFF  */
/* акцент #2196F3; */
/* тайтл #212121; */
/* цвет фона Hero и футер #2F303A; */
/* вторичный цвет фона #F5F4FA; */



/* ============= Body ============= */

/* logo Текст размер */
.logo {
font-family: Raleway, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.192;
width: 145px;
/* Блочная модель + flex */
padding-top: 24px;
padding-bottom: 25px;
margin-right: 93px;
}
/* logo Цвет */
.color-web {
  color: var(--accent-color);
}
.color-studio {
  color: var(--primary-white-color);
}


 /* Блочная модель + flex */
.item:not(:last-child) {
  margin-right: 30px; 
}




body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  /* body Текст размер */
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.714;
  }
  /* address Текст размер  */
    .address-nav,
    .address-nav-footer {
      font-style: normal;
  }

  /* section title h2,h3 Текст размер */
    .section-title,
    .team .title,
    .spetsialist {
      text-align: center;
 }

 
 
 .mail .icon-address,
 .telefon .icon-address {
  margin-right: 10px;
 }
/* ============= Body END ============= */


/* ======= Site nav and Header ======= */
.company-header {
  border-bottom: 1px solid #ECECEC;
}

.webstudio-nav .link,
.logo {
  color: var(--title-text-color);
}

.webstudio-nav .link:hover,
.webstudio-nav .link:focus { 
  color: var(--accent-color); 
}
.webstudio-nav .link {
  position: relative;
  padding: 32px 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.webstudio-nav .active { 
  color: var(--accent-color);
}
.active::after {
  position: absolute;
  top: 100%;
  width: 100%;
  content: "";
  display: flex;
  height: 4px;
  background: #2196F3;
  border: 1px solid #000000;
  border-radius: 2px;
}

.active:hover,
.active:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.address-nav .link {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-address {
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.circle-close-window {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.circle-close-window:hover,
.circle-close-window:focus {
fill: var(--accent-color);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-nav .link:hover,
.address-nav .link:focus,
.icon-address:hover,
.icon-address:focus,
.mail:hover .icon-address, 
.mail:focus .icon-address,
.telefon:hover .icon-address,
.telefon:focus .icon-address {  
  color: var(--accent-color); 
  fill: var(--accent-color);
} 

/* Site nav Текст размер */
.webstudio-nav {
  width: 294px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.143;
  /* Бллочная модель + flex */
  display: flex;
  margin: 0px;
  padding: 0px;
}
.address-nav {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.143;
  /* Бллочная модель + flex */
  display: flex;
  margin: 0px;
  padding: 32px 0px;
}
.address-nav {
  margin-left: auto;
  align-items: center;
}
.webstudio-nav .item:not(:last-child) { 
margin-right: 50px;
}
.address-nav a.link:not(:last-child) { 
  margin-right: 50px;
}

 /* Position-flex Блочная модель + flex */
.position-flex {
  display: flex;
  align-items: center;
  padding: 0px;
}
/* ======= Site nav END ======= */


/* ======= Hero Шапка Блок банер ======= */
.hero-title {
  color: var(--primary-white-color);
  
  /* Hero Текст размер*/
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*Hero Блочная модель*/
  margin: 0 auto 30px;
}

.hero {
  background-color: var(--hero-background-color);
  padding: 200px 0px;
  text-align: center;
  /* Фон єлемента */
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient( 
    to top, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)),
  url(../images/Img-hero.jpg);
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ======= Hero Шапка Блок банер END ======= */


/* ======= all-team ======= */
.all-team {
  background-color: var(--secondary-background-color);
}
.team-card-block {
  padding: 30px 0px;
}
/* social-links */
.team-card-block .social-links {
  padding: 0px 32px;
}
.team-card-block .social-circle {
  background-color: var(--primary-white-color);
}
.team-card-block .button-social {
  fill: var(--leter-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-circle:hover .button-social,
.social-circle:focus .button-social {
  fill: var(--primary-white-color);
}
/*all-team Текст размер и portfolio */
.spetsialist { 
font-size: 16px;
line-height: 1.188;
/* Блочная модель + flex */
padding: 0px;
margin: 0px 0px 16px;
}

.gallery-portfolio {
  font-size: 16px;
  line-height: 1.875;
  margin: 0px;
  padding: 0px 24px 20px;
  width: 370px;
  color: var(--primary-text-color);
}
/* ======= all-team END ======= */


/* ======= Button ======= */
.button {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* button Текст размер */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  border-radius: 4px;
  padding: 10px 31px;
  cursor: pointer;
} 

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.button.primary {
  display: inline-block;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  /* button primary Текст размер */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
}
.primary:hover,
.primary:focus {
  background-color: #188CE8;
}

.button-secondary {
  padding: 6px 22px;
  border-width: 0px;
  letter-spacing: 0.03em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-secondary:hover,
.button-secondary:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-social {
  width: 20px;
  height: 20px;
}
.social-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 0px;
}
.social-item:not(:last-child) {
margin-right: 10px;
}

/* ======= Button END======= */


/* ======= SECTION ======= */

.section {
  padding-bottom: 94px;
}
/* Section title h2*/
.section-title {
  color: var(--title-text-color);

  /* Section title h2 Текст размер */
font-weight: 700;
font-size: 36px;
line-height: 1.167;

/* section-title Блочная модель + flex */ 
margin: 0px auto 50px;
}
.work-section .section-title {
  padding-top: 0px;
}
.product-wrapper {
  position: relative;
}
.product-name {
  position: absolute;
  bottom: 0;
  display: inline-block;
  content: "";
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  color: var(--primary-white-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px;
  padding: 27px 0px;
}
/* Section title h3*/
.section .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.189;
  /* Блочная модель + flex */
  margin: 0px 0px 10px;
  }

/* feature list Текст размер */
.feature .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  margin: 0px;
}

/* Декоративные эффекты */
.feature .item::before {
  display: inline-block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background-color);
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
.icon-antena::before {
  background-image: url(../images/antenna\ 1.svg);
}
.icon-clock::before {
  background-image: url(../images/clock\ 1.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram\ 1.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut\ 1.svg);
}
/* feature Блочная модель + flex */
.feature,
.section-title {
  padding-top: 94px;
}

.description {
  margin-top: 10px;
  margin-bottom: 0px;
}
.work,
.team,
.feature,
.regular-customers,
.social-links,
.footer-block {
  display: flex;
}
.regular-customers {
  justify-content: space-between;
}

.team .item {
 background-color: var(--primary-white-color); 
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 0px 0px 4px 4px;
}
.img-ramka {
  border-radius: 0px;
}
.logo-customers {
  display: flex;
  border: 1px solid var(--leter-icon-color);
  width: 170px;
  height: 90px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-customers {
  fill: var(--leter-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-customers:hover,
.logo-customers:focus{
  border: 1px solid var(--accent-color);
}
.logo-customers:hover .icon-customers,
.icon-customers:focus .icon-customers {
  fill: var(--accent-color);
}

/* ======= SECTION END ======= */

/* ======= Footer ======= */

.footer-block {
  align-items: baseline;
}
.address-block{
  margin-right: 70px;
}
.address-footer {
  color: var(--primary-white-color);
  margin: 20px 0px 9px;
  width: 231px;
  height: 21px;
}
.footer {
  padding-top: 60px;
  padding-bottom:  60px;
  background-color: var(--background-color);
}
.address-nav-footer .link {
  color: var(--secondary-text-color);
  display: block;
}
.footer .logo {
  margin: 0px;
}
.footer .mail {
  margin-bottom: 9px;
}
/* footer Текст размер p */
 .title-social-links,
 .title-footer-form {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  margin: 0px 0px 20px;
  color: var(--primary-white-color);
}
/* social-links footer*/
.social-circle {
  background-color: var(--icon-footer-background-color);
}
.button-social {
  fill: var(--primary-white-color);
}
/* footer-form */
.footer-form {
  display: block;
  margin-left: auto;

}
.email-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--background-color);
  margin: 0px 12px 0px 0px;
  padding: 15px 16px;
  color: var(--secondary-text-color);
}
.email-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.icon-footer-button {
  position: absolute;
  content: "";
  display: flex;
  bottom: 13px;
  right: 28px;
} 
.wrapper-button {
  position: relative;
  display: inline-flex;
}
.wrapper-button .button.primary {
  padding: 10px 62px 10px 29px;

}

/* ======= Footer END ======= */

/* ======= PORTFOLIO ======= */
  /* section title h2,h3 Текст размер */
.leftside{ 
  text-align: inherit;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 24px 0px;
  margin-bottom: 4px;
  width: 370px;
}

/* filter Блочная модель и flex */
.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-block {
  margin: 0px 0px 50px;
  text-align: center;
}
.project-filter {
  display: flex;
  flex-wrap: wrap;
}
.item-portfolio {
  width: calc((100% - 60px) / 3);
  border: 1px solid #EEEEEE;
  position: static;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.item-portfolio:not(:nth-child(3n)) {
  margin-right: 30px;
}
.item-portfolio:not(:nth-last-child(-n +3)) {
  margin-bottom: 30px;
}
.item-portfolio:hover,
.item-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-name {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  width: 370px;
}
 .wrapping-works {
  position: relative;
  overflow: hidden;
   
} 
 .wrapping-works::after {
  position: absolute;
  display: flex;
  content: "";
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  z-index: 1;
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.card-portfolio:hover .wrapping-works::after,
.card-portfolio:hover .description-wrapping-works,
.card-portfolio:focus .wrapping-works::after,
.card-portfolio:focus .description-wrapping-works {
  opacity: 1;
  transform: translateY(-100%)
}
.card-portfolio .wrapping-works::after,
.card-portfolio .description-wrapping-works,
.card-portfolio .wrapping-works::after,
.card-portfolio .description-wrapping-works {
  opacity: 1;
  transform: translateY(100%)
}

.description-wrapping-works {
  position: absolute; 
  content: "";
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.5556;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  margin: 0px;
  color: var(--primary-white-color);
  z-index: 2;
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
/* Модальное окно */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2); 
  z-index: 1;
  overflow: auto;
  transition: all 200ms linear;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  margin: auto;
  transform: scale(0.3); 
}
.modal {
  position: relative;
  margin: auto;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms; 
  overflow: auto;
  padding: 40px;
} 

/* modal-form */
.modal-form {
  display: flex;
  flex-direction: column;
  width: 448px;
  
}
.title-modal-form {
  width: 448px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  color: var(--title-text-color)
}
.name-label {
  display: flex;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px; 
}
.form-input-message {
  height: 138px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
}
.form-input,
.form-input-message {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input {
  width: 100%;
  cursor: pointer;
  height: 40px;
  padding-left: 42px;
}
.form-privacy-policy {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 30px;
}
.modal-form .button.primary {
  margin-left: auto;
  margin-right: auto;
}
.icon-form-size {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  margin-left: 12px;
}
.form-item:hover .icon-form-size,
.form-item:focus-within .icon-form-size {
fill: var(--accent-color);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover,
.form-input:focus,
.form-input-message:hover,
.form-input-message:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
} 
.form-input-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
 .form-modal-checkbox {
  /* appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* .check-box {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  background-color: var(--primary-white-color);
  border-radius: 4px;
  margin-right: 7px;
} */
/* .form-modal-checkbox:checked + .check-box {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check22.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  bborder-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-box:hover,
.check-box:focus {
border-color: var(--accent-color);
} */
.form-checkbox-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  background-color: var(--primary-white-color);
  border-radius: 4px;
  margin-right: 7px;
}
.form-modal-checkbox:checked + .form-checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check22.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-privacy-link {
  color: var(--accent-color);
  margin-left: 3px;
}
.form-checkbox-label {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.form-privacy-link::before {
  position: absolute;
    content: "";
    display: inline-block;
    width: 127px;
    color: var(--accent-color);
    height: 5px;
    border-bottom: 1px;
    border-bottom-style: solid;
    bottom: 5px;
}