.footer {
    padding-top: 60px;
    padding-bottom:  60px;
    background-color: var(--background-color);
  
     .logo {
        margin: 0px;
    }
     .mail {
        margin-bottom: 9px;
    }
}