.section {
    padding-bottom: 94px;

  /* Section title h2*/
  &-title {
    color: var(--title-text-color);
    padding-top: 94px;
  
    /* Section title h2 Текст размер */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
  
  /* section-title Блочная модель + flex */ 
    margin: 0px auto 50px;
    text-align: center;
  }
  /* Section title h3*/
    .item-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.189;
    /* Блочная модель + flex */
    margin: 0px 0px 10px;
  }
}