/* logo Текст размер */
.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    width: 145px;
    /* Блочная модель + flex */
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    }
    /* logo Цвет */
    .color-web {
      color: var(--accent-color);
    }
    .color-studio {
      color: var(--primary-white-color);
    }