.modal-form {
  display: flex;
  flex-direction: column;
  width: 448px;

&-title {
  width: 448px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  color: var(--title-text-color)
 }
}
  .name-label {
    display: flex;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    margin-bottom: 4px; 
  }
  .form-input {
    width: 100%;
    cursor: pointer;
    height: 40px;
    padding-left: 42px;
   
   &,
   &-message {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
   &-message {
    height: 138px;
    resize: none;
    margin-bottom: 20px;
    padding: 12px 16px;
  }
}
  .form-privacy-policy {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 30px;
  }
  .modal-form .button.primary {
    margin-left: auto;
    margin-right: auto;
  }
  .icon-form-size {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    margin-left: 12px;
  }
  .form-item:hover .icon-form-size,
  .form-item:focus-within .icon-form-size {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-input:hover,
  .form-input:focus,
  .form-input-message:hover,
  .form-input-message:focus {
    border-color: var(--accent-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  } 
  .form-input-message::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
   .form-modal-checkbox {
    /* appearance: none; */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  
  /* .check-box {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    background-color: var(--primary-white-color);
    border-radius: 4px;
    margin-right: 7px;
  } */
  /* .form-modal-checkbox:checked + .check-box {
    background-color: var(--accent-color);
    background-image: url(../images/icon-check22.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    bborder-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .check-box:hover,
  .check-box:focus {
  border-color: var(--accent-color);
  } */
  .form-checkbox-label::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    background-color: var(--primary-white-color);
    border-radius: 4px;
    margin-right: 7px;
  }
  .form-modal-checkbox:checked + .form-checkbox-label::before {
    background-color: var(--accent-color);
    background-image: url(../images/icon-check22.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-privacy-link {
    color: var(--accent-color);
    margin-left: 3px;
  }
  .form-checkbox-label {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .form-privacy-link::before {
    position: absolute;
      content: "";
      display: inline-block;
      width: 127px;
      color: var(--accent-color);
      height: 5px;
      border-bottom: 1px;
      border-bottom-style: solid;
      bottom: 5px;
  }