.team-card-block {
    padding: 30px 0px;
    
  /* social-links */
   .social-links {
    padding: 0px 32px;
  }
  // .social-circle {
  //   background-color: var(--primary-white-color);
  // }
   .button-social {
    fill: var(--leter-icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  }