.list {
    list-style: none;
    padding-left: 0px;
    margin: 0px auto;
}

img {
  display: block;
}

.img-ramka {
  border-radius: 0px;
}
  
.link {
text-decoration: none;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  /* body Текст размер */
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.714;
  }